
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body bgcolor="red">
    <h1>hello {{ user_name }}</h1>
    
    
    <h3>Click on this link to activate your account</h3>
    <h6>{{emailbody}}</h6>
    <a href "{{emailbody}}">click me </a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjm2nPNFgmCBemKwoda2ne7JEWXSTSA_7TpA&usqp=CAU" alt="nature" width="500" height="600">
</body>

</html>


         






